{% extends 'base.html.twig' %}

{% block title %}Liste des comptes{% endblock %}

{% block body %}
     <div class="container pt-3">
        <h4>Vos comptes bancaires</h4>
        <table class="table class=table table-striped table-hover table-bordered mt-5">
            <thead class="text-center align-middle"> <!--Aligne middle : vertical center on the cell -->
                <tr>
                    <th scope="col" class="col-1">ID</th>
                    <th scope="col" class="col-3">N° Compte</th>
                    <th scope="col" class="col-1">Date Création</th>
                    <th scope="col" class="col-1">Solde</th>
                    <th scope="col" class="col-2">Type de Compte</th>
                    <th scope="col" class="col-3">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                    <tr>
                        <td>{{ account.id }}</td>
                        <td>{{ account.accountNumber }}</td>
                        <td>{{ account.createdAt|date('d/m/Y') }}</td>
                        <td class="text-end">{{ account.amount|number_format(2, ',', ' ') ~ " €" }}</td>
                         <td>{{ account.accountGroup.name }}</td>
                       <td class="text-center">
                            <a class="btn btn-primary col-4" href="{{ path('account_delete', {'id': account.id}) }}">Clôturer</a>
                            <a class="btn btn-primary col-4" href="">Détails</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('account_new') }}" class="btn btn-success"> 
            <i  class="fas fa-plus-circle"></i> Ajouter a new account</a>
    </div>

{% endblock %}
