{% extends 'base.html.twig' %}

{% block title %}Liste des comptes{% endblock %}

{% block body %}
    <p class="h4 mt-2">Vos comptes bancaires <a href="{{ path('account_new') }}" class="btn btn-success"> 
    <i  class="fas fa-plus-circle"></i> Ajouter</a></p>

    <table class="table class=table table-striped table-hover table-bordered mt-3">
        <thead class="text-center align-middle"> <!--Aligne middle : vertical center on the cell -->
            <tr>
                <th scope="col" class="col-1">Id</th>
                <th scope="col" class="col-5">N° Compte</th>
                <th scope="col" class="col-1">Date Création</th>
                <th scope="col" class="col-1">Solde</th>
                <th scope="col" class="col-3">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
                <tr>
                    <td>{{ account.id }}</td>
                    <td>{{ account.accountNumber }}</td>
                    <td>{{ account.createdAt|date('d/m/Y') }}</td>
                    <td class="text-end">{{ account.amount|number_format(2, ',', ' ') ~ " €" }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('account_edit', {'id': account.id}) }}">Modifier</a>
                        <a class="btn btn-danger" href="">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
