{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
{# <div class="bg"> #}
<section class="pop-up">
    <div class="security-popup">
      <div class="box">
         <div class="img-area">
           <div class="img">
           </div>
           <img src="{{ asset('img/logoor.jpg') }}">
         </div>
         <div class="security">
           <h1>Security Alerts</h1>
           <h3>Looking out for our clients</h3>
           <h5>To help you better protect your financial accounts, KeyBank regularly shares alerts on widespread fraud activities. Check back often to keep tabs on the latest cybersecurity issues you may encounter.</h5>
           <p>Beware of SMiShing (phishing text messages) Appearing to Come from JST Bank
            Other peer banks are experiencing a campaign targeting clients and non-clients who are receiving suspicious text messages (a.k.a. SMiShing) claiming to be from that bank. These text messages are not from the bank and should not be trusted.
            Information regarding the Equifax cybersecurity breach
            Equifax recently disclosed a cybersecurity incident that might affect more than 140 million people whose personal information and account information is stored in Equifax databases.
            </p>
            <button class="close btn btn-sm mx-3"> I understand</button>
         </div>
         {# <div class="close"> #}
           {# <button class="btn btn-sm"> I understand</button> #}
         {# </div> #}
   </div>
  </section>

<div class="container" id="front">
<form method="post" id="cardTest">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <div class="text-center my-3">
    <button class="btn text-white" type="submit">
        Sign in
    </div>
    </button>
    
    {# <div class="text-center my-3"> #}
    {# <a href="{{path('app_register')}}" class="btn btn-sm text-dark float-end">Sign Up</a> #}
    {# </div> #}
    
</form>
</div>

<video poster="{{ asset('img/bg.jpg') }}" id="bgvid" playsinline autoplay muted loop>
<source src="{{ asset('img/jst_bank.webm') }}"type="video/webm">
<source src="{{ asset('img/jst_bank.mp4') }}" type="video/mp4">
<form class="container" method="post">
</video>
{% endblock %}
