{% extends 'base.html.twig' %}
{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}
{% block title %}Register{% endblock %}
{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<div class="bg">
<div class="container">
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.sex) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.adress) }}
        {{ form_row(registrationForm.city) }}
        {{ form_row(registrationForm.zip_code) }}
        {{ form_row(registrationForm.birth_date) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <div class="text-center">
        <button type="submit" class="btn">Register</button>
        </div>
    {{ form_end(registrationForm) }}
    </div>
    </div>
{% endblock %}
